In [2]:
import pandas as pd

df = pd.read_csv('buddymove_holidayiq.csv')

In [3]:
df.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [12]:
df = df.rename(columns={'User Id': 'User_id'})

In [19]:
import sqlite3 as sql3

conn = sql3.connect('buddymove_holidayiq1.sqlite3')

In [20]:
query = 'CREATE TABLE buddy_info (User_Id varchar(12), Sports int, Religious int, Nature int, Theatre int, Shopping int, Picnic int);'

In [21]:
curs = conn.cursor()
curs.execute(query)
curs.close()
conn.commit()

In [22]:
df.to_sql('buddy_info',conn, if_exists='append', index = False)

In [29]:
def get_scalar_result(conn, sql):
    cursor=conn.cursor()
    cursor.execute(sql)
    return cursor.fetchone()

In [25]:
lenth = 'SELECT COUNT (User_Id) FROM buddy_info;'

lenth = get_scalar_result(conn, lenth)

In [26]:
lenth

249

In [37]:
allavg = 'SELECT avg(Sports), avg(Religious), avg(Nature), avg(Theatre), avg(Shopping), avg(Picnic) FROM buddy_info;'
allavg = get_scalar_result(conn, allavg)

In [38]:
allavg

(11.987951807228916,
 109.77911646586345,
 124.51807228915662,
 116.37751004016064,
 112.63855421686748,
 120.40160642570281)

In [39]:
Sports, Religious,Nature, Theatre, Shopping, Picnic = allavg

In [40]:
for i in allavg:
    print(i)

11.987951807228916
109.77911646586345
124.51807228915662
116.37751004016064
112.63855421686748
120.40160642570281

In [35]:
Sports

11.987951807228916