In [5]:
import sqlite3 as sql3

conn = sql3.connect('northwind_small.sqlite3')
curs = conn.cursor()

In [6]:
def get_scalar_result(conn, sql):
    cursor=conn.cursor()
    cursor.execute(sql)
    return cursor.fetchall()

In [13]:
productprice = 'select ProductName, UnitPrice from Product order by UnitPrice desc limit 10;'
top10 = get_scalar_result(conn, productprice)

In [17]:
print('\nThe top 10 most expensive products are:')
for i in top10:
    print(f'{i[0]}: ${i[1]}')
    
print('\n-------------------\n')

The top 10 most expensive products are:
Côte de Blaye: $263.5
Thüringer Rostbratwurst: $123.79
Mishi Kobe Niku: $97
Sir Rodney's Marmalade: $81
Carnarvon Tigers: $62.5
Raclette Courdavault: $55
Manjimup Dried Apples: $53
Tarte au sucre: $49.3
Ipoh Coffee: $46
Rössle Sauerkraut: $45.6

-----------

In [21]:
avgage = 'select avg((julianday(HireDate)- julianday(BirthDate))/365) as avgage from Employee;'
age = get_scalar_result(conn, avgage)
print(f'The avage age per hire is {round(age[0][0])}.')
print('\n-------------------\n')

The avage age per hire is 37.

-------------------

In [22]:
agebycity = 'select City, avg((julianday(HireDate)- julianday(BirthDate))/365) as avgage from Employee group by City;'
abc = get_scalar_result(conn,agebycity)
print('The average age by City - \n')
for i in abc:
    print(f'{i[0]}: {round(i[1])} years old.')

The average age by City -

Kirkland: 29 years old.
London: 33 years old.
Redmond: 56 years old.
Seattle: 40 years old.
Tacoma: 41 years old.